{% extends 'core/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block header %}
  {% include 'core/_page_header.html' with page_title='Portafolio' page_subtitle='Estos son algunos de los proyectos que he desarrollado a lo largo de mis estudios como estudiante de Desarrollo de Aplicaciones Web.' %}
{% endblock %}

{% block content %}
<div class="page-section">
  <div class="container">
    {% include 'portfolio/_project_section.html' with section_id='proyectos' section_title='Proyectos' section_projects=projects link_label='Ver proyecto' empty_message='No se han registrado proyectos todavía.' %}
  </div>
</div>
{% endblock %}
