{%extends 'core/base.html'%}
{% load static %}
{% block title%}Contacto {% endblock %}
{% block extra_css %}
<link href="{% static 'core/css/fondo2.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<header class="masthead-portfolio">
  <div id="hexCanvas"></div> 
      <div id="nombre">
          <h1>Contacto </h1>
              <span class="subheading">
                  <p>▸ Si deseas ponerte en contacto conmigo, no dudes en hacerlo. A continuación, te dejo mis redes y formas de contacto directo.</p>
               </span>
  </div>
</header>
{% endblock %}

{% block content%}
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto fw-light text-white" style="font-family: 'Open Sans', sans-serif; font-size: 1rem;">
    <br>
    <p><b>Teléfono:</b> 600790607</p>
    <p><b>Linkedin</b> Delfín Rojas</p>
    <p><b>Correo Electronico</b> delfinrojasespina@gmail.com</p>
    <p><b>Instagram</b> itsjust Delfo</p>
    <p><b>Facebook</b> itsjust_Delfo</p>
    <p><b>Github</b> Delforojas</p>
    
  </div>
</div>
{%endblock %}
{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"></script>
  <script src="{% static 'core/vendor/jquery/fondo3.js' %}"></script>
{% endblock %}